body {
   font-family: Arial, sans-serif;
   text-align: center;
}

input[type="file"] {
   font-size: 20px; /* Increased font size */
   padding: 12px;   /* Increased padding */
   margin: 20px 0;
}

#instructions {
   margin-bottom: 20px;
}

#manga-page-container img {
   max-width: 80%;
   width: auto;
   margin: 10px;
}

.panel-container {
   margin: 20px 0;
}

.panel-container img {
   max-width: 80%;
   width: auto;
   margin: 10px auto;
}

.panel-container h3 {
   font-size: 22px;
   margin-top: 15px;
}

.panel-container p {
   font-size: 18px;
   margin-top: 10px;
   text-align: left;
   width: 80%;
   margin-left: auto;
   margin-right: auto;
}
